html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    box-sizing: border-box;
    width: 100%;
    border: solid #131315 10px;
    padding: 5px;
}

#my-box{
    box-sizing: border-box;
    width: 100%;
    border: solid #131315 10px;
    padding: 5px;
}

.top-box{
    background: linear-gradient(to left, #667be4, #f3f7f6);
}

#about-section{
    box-sizing: border-box;
    width: 100%;
    border: solid #131315 10px;
    padding: 5px;
    background: linear-gradient(to left, #667be4, #f3f7f6);
}

#skills{
    box-sizing: border-box;
    width: 100%;
    border: solid #131315 10px;
    padding: 5px;
    background: linear-gradient(to left, #667be4, #f3f7f6);
}

#projects{
    box-sizing: border-box;
    width: 100%;
    border: solid #131315 10px;
    padding: 5px;
    background: linear-gradient(to left, #667be4, #f3f7f6);
}

footer {
    background: linear-gradient(to left, #667be4, #f3f7f6);
    box-sizing: border-box;
    width: 100%;
    border: solid #131315 10px;
    padding: 5px;
    color: #55585fd0;
    text-align: center;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
};